<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="lib/css/bootstrap.css">
    <script src="lib/js/jquery-3.7.1.min.js"></script>
    <script src="lib/js/bootstrap.js"></script>
    <style>
        .menu-link {
            color: black;
            font-size: 16px;
            font-family: Arial;
            font-weight: 700;
            word-wrap: break-word
        }

        .log-in {
            color: black;
            font-size: 16px;
            font-family: Arial;
            font-weight: 700;
            word-wrap: break-word
        }
    </style>
</head>

<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <div>
                    <ul class="nav menu">
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#">Theo dõi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#">Thể loại</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#">Lịch sử</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#">Truyện hot</a>
                        </li>
                    </ul>
            </div>
            <div>
                <div class="search_location"></div>
                <p>Tìm kiếm</p>
                <img />
            </div>
            <div>
                <ul class="nav menu">
                    <li class="nav-item">
                        <a class="nav-link active log-in" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active log-in" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </header>
        <footer>

        </footer>
    </div>
</body>

</html>